@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
h1 {
    font-weight: 900;
    font-size: xx-large;
    font-family: "Noto Sans KR";
}

h2 {
    font-weight: 700;
    font-size: x-large;
    font-family: "Noto Sans KR";
}
h3 {
    font-weight: 500;
    font-size: larger;
    font-family: "Noto Sans KR";
}

h4 {
    font-weight: 400;
    font-size: large;
    font-family: "Noto Sans KR";
}

h5 {
    font-weight: 300;
    font-size: medium;
    font-family: "Noto Sans KR";
}

* {
    font-weight: bold;
    font: rgb(32, 32, 32);
}
